<a href="https://colab.research.google.com/github/segravjf/python_practice/blob/main/caloric_density.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Calorically dense foods

Suppose you are given the following dataframe containing food, weight, and calories. You'll notice the foods have varying weights associated with them:

![image.png]()

Using Python (Pandas), can you sort the dataframe in descending order with the most calorically dense food (normalized for weight) at the top?

In [1]:
## Import modules
import pandas as pd

In [2]:
## Build dataset based on image
food = ['bacon','strawberries','banana','spinach','chicken breast','peanuts']
grams = [50,200,100,200,50,100]
calories = [271,64,89,46,80,567]

df = pd.DataFrame({
    'food': food,
    'grams': grams,
    'calories': calories
})

df

             food  grams  calories
0           bacon     50       271
1    strawberries    200        64
2          banana    100        89
3         spinach    200        46
4  chicken breast     50        80
5         peanuts    100       567

In [3]:
## Create column for calorie density
df['density'] = df.calories * 1.0 / df.grams

df

             food  grams  calories  density
0           bacon     50       271     5.42
1    strawberries    200        64     0.32
2          banana    100        89     0.89
3         spinach    200        46     0.23
4  chicken breast     50        80     1.60
5         peanuts    100       567     5.67

In [4]:
## Sort it descending
df.sort_values(by=['density'], ascending = False)

             food  grams  calories  density
5         peanuts    100       567     5.67
0           bacon     50       271     5.42
4  chicken breast     50        80     1.60
2          banana    100        89     0.89
1    strawberries    200        64     0.32
3         spinach    200        46     0.23